@{
    ViewData["Title"] = "Editar Formularios";
    Layout = "~/Views/Shared/_LayoutExtranet.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>Editar de Formularios</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Editar Formularios</strong>
            </li>
        </ol>
    </div>

</div>


<div class="wrapper wrapper-content  animated fadeInRight" id="div_form_1">
    <div class="row">

        <div class="col-lg-12" style="padding-bottom:1%">
            <span class="badge badge-primary text-right float-right">Paso 1. Configuración de Datos Formulario</span>

        </div>
        <div class="col-lg-12">

            <div class="form-group  row">
                <label class="col-sm-2 col-form-label">Titulo</label>

                <div class="col-sm-10"><input type="text" class="form-control" id="txtTitulo" name="txtTitulo"></div>
            </div>

            <div class="form-group  row">
                <label class="col-sm-2 col-form-label">Comentario</label>

                <div class="col-sm-10"><textarea class="form-control" id="txtComentario" name="txtComentario"></textarea></div>
            </div>

            <div class="form-group  row">
                <label class="col-sm-2 col-form-label">Fecha Vigencia</label>

                <div class="col-sm-10"><input type="text" class="form-control" id="txtFechaVigencia" name="txtFechaVigencia"></div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 ">
            &nbsp;
        </div>

        <div class="col-lg-2 float-right">
            <input type="button" class="btn btn-lg btn-info float-right" value="Siguiente" id="btnSiguiente1" />
        </div>
    </div>

</div>

<div class="wrapper wrapper-content  animated fadeInRight" id="div_form_2" style="display:none">

    <div class="row">
        <div class="col-lg-12">
            <span class="badge badge-primary text-right float-right">
                Paso 2. Configurar tus Preguntas
            </span>
        </div>
        <div class="col-lg-12">

            <div class="widget lazur-bg p-xl" style="background-color:#2f4050!important">
                <h2 class="text-left" id="titleFormPaso2"></h2>
            </div>

        </div>
        <div class="col-lg-12">
            <ul class="nav" style="font-size :16px!important;" id="div_left_control">
                <li class="nav-item list-group-item fist-item infont">

                    <i class="fa fa-list "></i> Opcion

                    <span class="float-right controles">
                        <i class="fa fa-edit"></i>
                        <i class="fa fa-trash-o"></i>
                    </span>
                </li>
                <li class="nav-item list-group-item">

                    <i class="fa fa-square-o"></i> Texto

                    <span class="float-right controles">
                        <i class="fa fa-edit"></i>
                        <i class="fa fa-trash-o"></i>
                    </span>
                </li>
                <li class="nav-item list-group-item">

                    <i class="fa fa-calendar"></i> Fecha

                    <span class="float-right controles">
                        <i class="fa fa-edit"></i>
                        <i class="fa fa-trash-o"></i>
                    </span>
                </li>
                <li class="nav-item list-group-item">

                    <i class="fa fa-star-o"></i> Calificación

                    <span class="float-right controles">
                        <i class="fa fa-edit"></i>
                        <i class="fa fa-trash-o"></i>
                    </span>
                </li>
                <li class="nav-item list-group-item">

                    <i class="fa fa-list-ol"></i> Clasificación

                    <span class="float-right controles">
                        <i class="fa fa-edit"></i>
                        <i class="fa fa-trash-o"></i>
                    </span>
                </li>

                <li class="nav-item list-group-item">

                    <i class="fa fa-cube"></i> Región

                    <span class="float-right controles">
                        <i class="fa fa-edit"></i>
                        <i class="fa fa-trash-o"></i>
                    </span>
                </li>

            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">

                <div class="ibox-content">
                    <ul class="list-group clear-list m-t" style="font-size :16px!important;" id="div_rigth_contenido"></ul>
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-8 ">
            &nbsp;
        </div>
        <div class="col-lg-2 ">
            <input type="button" class="btn btn-lg btn-danger float-right" value="Atras" id="btnAtras1" />
        </div>
        <div class="col-lg-2 ">

            <input type="button" class="btn btn-lg btn-info float-right" value="Visualizar" id="btnSiguiente2" />
        </div>
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight" id="div_form_3" style="display:none">
    <div class="row">
        <div class="col-lg-12 ">
            <span class="badge badge-primary text-right float-right">
                Paso 3.
            </span>
        </div>
        <div class="col-lg-12">

            <div class="widget lazur-bg p-xl" style="background-color:#2f4050!important;padding: 15px!important;">


                <h2 id="titleForm"></h2>
                <ul class="list-unstyled m-t-md text-right">

                    <li>
                        <span class="fa fa-comment m-r-xs"></span>
                        <label id="lblComentarioForm"></label>

                    </li>
                    <li>
                        <span class="fa fa-calendar m-r-xs"></span>
                        <label id="lblFechaVigenteForm"></label>

                    </li>
                </ul>

            </div>

        </div>
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content" id="div_preview"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 ">
            &nbsp;
        </div>
        <div class="col-lg-2 ">
            <input type="button" class="btn btn-lg btn-danger float-right" value="Atras" id="btnAtras2" />
        </div>
        <div class="col-lg-2 ">

            <input type="button" class="btn btn-lg btn-info float-right" value="Actualizar" id="btnGuardar" />
        </div>
    </div>
</div>


<input type="hidden" id="hddidform" name="hddidform" value="@ViewBag.idform" readonly="readonly" disabled="disabled" />
<input type="hidden" id="hddTipoPregunta" name="hddTipoPregunta" />
<input type="hidden" id="hddIdlsta" name="hddIdlsta" />
<input type="hidden" id="hddidcontrol" name="hddidcontrol" />

<input type="hidden" id="hddidusuario" name="hddidusuario" value="@ViewBag.IdUsuario" readonly="readonly" disabled="disabled" />
<input type="hidden" id="hddidempresa" name="hddidempresa" value="@ViewBag.IdEmpresa" readonly="readonly" disabled="disabled" />

<div class="modal" id="myModalVer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h4 class="modal-title text-center">Detalle de Pregunta</h4>
                <button type="button" id="btnCloseModal" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">

                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label" for="lblPregunta"><strong>Pregunta</strong></label>
                        <input type="text" id="txtPregunta" name="txtPregunta" placeholder="Escriba su Pregunta" class="form-control" autocomplete="off" />
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 div_opciones" id="div_opciones_1">
                    <div class="form-group">
                        <a href='#' class='btn btn-success btn-bitbucket btn-li-edit' id="btnAgregarOpcion"><i class='fa fa-plus'></i>Agregar Opciones</a>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12" id="div_opciones">

                </div>

                <div class="col-md-12 col-sm-12" id="div_respuesta">
                    <div class="form-group">
                        <label class="control-label" for="lblPregunta"><strong>Respuesta</strong></label>
                        <input type="text" id="txtRespuesta" name="txtRespuesta" placeholder="Escriba su Respuesta" class="form-control" autocomplete="off" readonly />
                    </div>
                </div>

                <div class="col-md-12 col-sm-12" id="div_tipo_respuestas">
                    <div class="form-group">
                        <label class="control-label" for="lblPregunta"><strong> Tipo Respuesta</strong></label>

                        <select class="form-control" id="cmbTipoRspta" name="cmbTipoRspta">
                            <option value="0">-Seleccione-</option>
                            <option value="1">Una Respuesta</option>
                            <option value="2">Varias Respuestas</option>
                            <option value="3">Menu Desplegable</option>

                        </select>


                    </div>
                </div>

                <div class="col-md-12 col-sm-12" id="div_calificacion">

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="control-label" for="lblPregunta"><strong>Niveles</strong></label>
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label" for="lblPregunta"><strong>Simbolo</strong></label>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control" id="cmbNiveles" name="cmbNiveles">
                                <option value="0">-Seleccione-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control" id="cmbSimbolo" name="cmbSimbolo">
                                <option value="0">-Seleccione-</option>
                                <option value="1">Numero</option>
                                <option value="2">Estrella</option>

                            </select>
                        </div>
                    </div>

                </div>

                <div class="col-md-12 col-sm-12">

                    <div class="form-group row">
                        <div class="col-sm-6" id="div_rspt_larga_1">
                            <label class="control-label" for="lblPregunta"><strong>Respuesta Larga</strong></label>
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label" for="lblPregunta"><strong>Respuesta Obligatoria</strong></label>
                        </div>
                        <div class="col-sm-6" id="div_rspt_larga_2">
                            <div class="checkbox-inline i-checks"><label> <input type="radio" checked="checked" value="1" name="rdbRsptaLarga"> <i></i> Si </label></div>
                            <div class="i-checks"><label> <input type="radio" value="0" name="rdbRsptaLarga"> <i></i> No </label></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="checkbox-inline i-checks"><label> <input type="radio" checked="" value="1" name="rdbRsptaObg"> <i></i> Si </label></div>
                            <div class="i-checks"><label> <input type="radio" value="0" name="rdbRsptaObg"> <i></i> No </label></div>
                        </div>
                    </div>

                </div>

                <div class="col-md-12 col-sm-12" id="div_restricciones">
                    <div class="form-group">
                        <label class="control-label" for="lblPregunta"><strong>Restricciones</strong></label>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <select class="form-control" id="cmbrestriccion" name="cmbrestriccion">
                                    <option value="0">-Seleccione-</option>
                                    <option value="1">Número</option>
                                    <option value="2">Mayor que</option>
                                    <option value="3">Mayor que o igual a</option>
                                    <option value="4">Menor que</option>
                                    <option value="5">Menor que o igual a</option>
                                    <option value="6">Igual a</option>
                                    <option value="7">Que no sea igual a</option>
                                    <option value="8">Entre</option>
                                    <option value="9">Que no esté comprendido entre</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" id="txtvalor1" name="txtRespuesta" class="form-control" autocomplete="off" />
                            </div>

                            <div class="col-sm-3">
                                <input type="text" id="txtvalor2" name="txtRespuesta" class="form-control" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white btn-lg btnPanel" data-dismiss="modal">Cerrar</button>

                <input type="button" class="btn btn-success btn-lg" id="btnGuardarControl" name="btnGuardarControl" value="Guardar Datos" />
            </div>
        </div>
    </div>
</div>

<environment names="Development">

    <script src="~/bundle/js/formsupdate.js"></script>
</environment>
<environment names="Production">
    <script src="~/bundle/js/formsupdate.js"></script>
</environment>